<style>
  .figure_for_frame {
    --c: 50px;
    --p: 30px;
    --d: 10px;
    background: red;
    display: inline-block;
    padding: var(--p);
    background:
      radial-gradient(farthest-side at 0 0, #000, #0000) 0 0 / var(--c) var(--c),
      radial-gradient(farthest-side at 100% 100%, #000, #0000) 100% 100% / var(--c) var(--c),
      linear-gradient(#fff 0 0) 50% 50% / calc(100% - var(--p)) calc(100% - var(--p)),
      linear-gradient(#0000, #000 25% 75%, #0000) 50% 50% / calc(100% - var(--p)) calc(100% - var(--d)),
      linear-gradient(90deg, #0000, #000 25% 75%, #0000) 50% 50% / calc(100% - var(--d)) calc(100% - var(--p)),
      radial-gradient(farthest-side at 0 100%, #00000018, #0000) calc(100% - var(--d) * 0.5) calc(var(--d) * 0.5) / var(--d) var(--d),
      radial-gradient(farthest-side at 100% 0, #00000018, #0000) calc(var(--d) * 0.5) calc(100% - var(--d) * 0.5) / var(--d) var(--d);
    background-repeat: no-repeat;
    clip-path: polygon(0 var(--c), var(--c) 0, 100% 0, 100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 0 100%);
  }
</style>


<section class="section-2">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7">
        <h3 class="title_section">À propos de nous</h3>
        <h2 class="title_discription">C'est quoi Forum des entreprises ?</h2>
      </div>
    </div>
  </div>


























  <div class="container mb-5">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7">
        <figure class="figure_for_frame">
          <img style="max-width: 100%;height: auto;" src="images/About us.jpg" alt="Forum ENIG" />
          <figcaption>Forum 2023</figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class="container">
    <p class="text-justify fw-semibold">
      Le Forum Entreprise ENIG est un événement annuel organisé par une équipe des jeunes étudiants de l’Ecole Nationale
      d’Ingénieurs de Gabès (ENIG) qui visent à mettre en relation les étudiants ingénieurs et les entreprises. Cet
      événement permet aux entreprises de rencontrer les futurs ingénieurs, de diffuser leurs offres de stages,
      d’emplois et de recruter les profils adéquats. Pour les étudiants, c’est l’occasion d’établir un premier contact
      avec le monde professionnel et d’explorer les opportunités de carrière.
    </p><br>
    <p class="text-justify fw-semibold">
      Chaque année, le Forum Entreprise ENIG invite plusieurs entreprises tunisiennes et internationales à tenir un
      stand et à présenter leurs activités aux étudiants dans le domaine de la bancassurance, le conseil, l’industrie,
      la santé, les services numériques…. Des conférences et des ateliers animés par des experts sont aussi organisés
      pour partager des conseils et des témoignages avec les étudiants.
    </p><br>



  </div>
</section>
<!-- Blog 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container overflow-hidden">
    <div class="row gy-5">
      <div class="col-12">
        <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative bsb-hover-push">
              <figure class="figure_for_frame">
                <img style="max-width: 100%;height: auto;" src="images/enigimg.jpg" alt="enig" />
                <figcaption>ENIG - École Nationale d'Ingénieurs de Gabès</figcaption>
              </figure>

            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="text-justify fw-semibold">
              <p class="mb-4">L’ENIG est une école d’ingénieurs tunisienne, fondée en 1975 et rattachée à l’Université
                de Gabès. Elle propose des formations d’ingénieurs dans les domaines suivants : génie chimique, génie
                civil, génie électrique et automatique, génie des réseaux et communication et génie mécanique.</p>
              <p class="mb-4">Accréditée par la Commission des Titres d’Ingénieur (CTI) depuis 2022, l’ENIG compte plus
                de 6500 diplômés, 814 étudiants et 142 enseignants. Elle entretient des partenariats avec plus de 50
                universités à travers le monde.</p>
              <p class="mb-4">Le Forum Entreprise ENIG et l’ENIG ont pour mission d’accompagner les étudiants dans leur
                insertion professionnelle et de favoriser les partenariats entre le monde académique et les entreprises.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>