
<section class="bsb-cta-1 mt px-2 bsb-overlay" style="background-image: url('images/calltoaction.jpg');">
    <div class="container">
      <div class="row d-flex justify-content-center" >
        <div class="col-12 col-md-9 col-lg-8 col-xl-7 col-xxl-6 text-center">
          <h3 class="title_section">Actualités Forum Entreprise ENIG 2023</h3>
          <h2 class="title_discription forum-color-white">Abonnez-vous maintenant Restez à jour avec notre newsletter.</h2>
          
          <form method="post" action="home/newsletters" class="input-newsletter">
            <div class="input-container">
                <input name="emailF" type="email" class="input-field" placeholder="Entrez votre adresse email" />
                <div class="input-field-shadow"></div>
            </div>
            <div class="submit-container">
                <input type="submit" class="submit-btn" />
                <div class="submit-btn-shadow"></div>
            </div>
        </form>
        </div>
      </div>
    </div>
  </section>