<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jasser Hachaichi">
    <title>
      <% if (typeof TitleWeb !== "undefined") { %>
        <%= TitleWeb %>
      <% } else { %>
        Forum ENIG
      <% } %>
    </title>
    <link rel="icon" href="images/forumicon.png">
    <link rel="shortcut" href="images/forumicon.png">
    <link rel="apple-touche-icon" href="images/forumicon.png">


    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css" />

  <!-- Carousel CSS FILES -->
    <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="owl-carousel/owl.transitions.css">
    <link rel="stylesheet" href="owl-carousel/owl.theme.css">

  <!-- SITE CSS FILES -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/components/calltoaction.css">
    <link rel="stylesheet" href="css/mediaqueries.css">



    <!-- Plugin CSS FILES -->
<link rel="stylesheet" href="css/plugin.css">
<link rel="stylesheet" href="plugin/jquery.animatedheadline.css">





  <!-- lightgallery -->
  <link rel="stylesheet" href="lightgallery/css/lightgallery.min.css" />


  <!-- AOS - Animate on scroll library -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">





</head>