<section class="special_theme about-us about-before pt-12">
    <div class="container">
        <div class="about-image-box">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-lg-5 pe-4" data-aos="fade-up"
                data-aos-anchor-placement="center-bottom">
                    <div class="about-content section-title text-lg-start text-center mb-4">
                        <h3 class="h-title">FORUM ENIG</h3>
                        <h4 class="forum-primary-color-2"> Conference Organisation</h4>
                        <div class="selector4" style="display: flex; justify-content: center;">
                            <h2 class="ah-headline">
                                <span>Conférences, séminaires &</span>
                                <span class="ah-words-wrapper white forum-primary-color-2">
                                    <b class="is-visible textcap">Stand</b>
                                    <b>Stand</b>
                                </span>
                            </h2>
                        </div>
                        <p class="mb-4"> Le forum vise à faciliter la mise en relation entre étudiants et entreprises, offrant aux entreprises l'opportunité de cibler des profils, diffuser des offres d'emploi, mener des entretiens, et aider les étudiants à s'insérer dans le marché du travail grâce à des conseils, des témoignages et des activités telles que des tables rondes et des webinaires.</p>
                        <a href="about" class="nir-btn">Découvrez maintenant <i class="fa fa-angle-right "></i></a>
                    </div>
                </div>
                <div class="col-lg-7 ps-4">
                    <div class="about-features" style="background-image:url(images/contentbg.png);">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4" data-aos="fade-up"
                            data-aos-anchor-placement="center-bottom">
                                <img src="images/about/busi-3.jpg" alt>
                            </div>
                            <div class="col-lg-6">
                                <img src="images/about/busi-1.jpg" class="mb-4" data-aos="fade-up"
                                data-aos-anchor-placement="center-bottom" data-aos-delay="300">
                                <img src="images/about/busi-2.jpg" data-aos="fade-up"
                                data-aos-anchor-placement="center-bottom" data-aos-delay="200">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>