<section class="special_theme about-us about-features pt-12 pb-8" style="background-image:url(images/testimonial-1.png);">
  <div class="container">
      <div class="about-image-box">
          <div class="row d-flex align-items-center justify-content-between">
              <div class="col-lg-7 pe-lg-4">
                  <div class="about-features" style="background-image:url(images/contentbg.png);">
                      <div class="row align-items-center">
                          <div class="col-lg-6">
                              <div class="features-infobox border-all p-5 box-shadow bg-white text-center mb-4"  data-aos="zoom-out-right" >
                                  <div class="infobox-icon ">
                                      <i class="fa fa-users fs-1 forum-primary-color-2"></i>
                                  </div>
                                  <div class="box-body mt-3">
                                      <h4 class="infobox-title">Mise en Relation Entreprises-Étudiants</h4>
                                      <p>les entreprises peuvent directement présenter leurs activités, échanger avec les participants, et diffuser leurs opportunités d'emploi ou stage PFE.</p>
                                  </div>
                              </div>
                              <div class="features-infobox border-all p-5 box-shadow bg-white text-center mb-4" data-aos="zoom-out-right" data-aos-delay="300">
                                  <div class="infobox-icon ">
                                      <i class="fa fa-flag fs-1 forum-primary-color-2"></i>
                                  </div>
                                  <div class="box-body mt-3">
                                      <h4 class="infobox-title">Organisation des Workshops et des Conférences</h4>
                                      <p>Animés par des experts professionnels ou académiques chevronnés pour partager leurs connaissances, services, projets, idées et visions...</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="features-infobox border-all p-5 box-shadow bg-white text-center mb-4" data-aos="zoom-out-right" data-aos-delay="500">
                                  <div class="infobox-icon ">
                                      <i class="fa fa-gear fs-1 forum-primary-color-2"></i>
                                  </div>
                                  <div class="box-body mt-3">
                                      <h4 class="infobox-title">Publicité</h4>
                                      <p>L'événement permet à l'entreprise d'accroître sa visibilité auprès d'un large public grâce à l'intégration de ses logos sur divers supports tels que affiches, banderoles, flyers, site ...</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5 ps-lg-4">
                  <div class="about-content text-center text-lg-start mb-4" data-aos="fade-left" data-aos-delay="400" >
                      <h4 class="h-title">FORUM ENIG</h4>
                      <div class="selector4" style="display: flex; justify-content: center;">
                          <h2 class="ah-headline">
                              <span>Pourquoi devriez-vous rejoindre le</span>
                              <span class="ah-words-wrapper white forum-primary-color-2">
                                  <b class="is-visible textcap">FORUM_ENIG ?</b>
                                  <b>FORUM_ENIG ?</b>

                              </span>
                          </h2>
                      </div>
                      <p class="mb-4">Chaque année en novembre, l'équipe dynamique des jeunes étudiants de l'ENIG organise le Forum des Entreprises. Une diversité de 50 entreprises, couvrant des secteurs tels que la bancassurance, le conseil, l'industrie, la santé et les services numériques, participent à cet événement majeur. </p>
                      <a href="about" class="nir-btn">En savoir plus <i
                              class="fa fa-angle-right "></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
