<section id="sponsors" class="py-3 py-md-5 py-xl-8">

  <div class="container">
    <div class="row justify-content-md-center">
        <div>
            <h3 class="title_section fw-bold">Sponsors Forum ENIG 2023</h3>
            <h2 class="title_discription">Merci à nos estimés sponsors pour leur soutien inestimable qui a permis de faire du Forum ENIG un succès retentissant. 
          </h2>
        </div>
    </div>
</div>

  <div class="container overflow-hidden">
    <div class="row gy-4">
      <a href="sponsor1" class="col-6 col-md-4 col-xl-3 text-center">
        <div class="sponsor-card px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img src="images/boudrant.png" alt="boudrant">
        </div>
      </a>
      <a href="#" class="col-6 col-md-4 col-xl-3 text-center">
        <div class="sponsor-card px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img src="images/boudrant.png" alt="boudrant">
        </div>
      </a>
      <a href="#" class="col-6 col-md-4 col-xl-3 text-center">
        <div class="sponsor-card px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img src="images/boudrant.png" alt="boudrant">
        </div>
      </a>
      <a href="#" class="col-6 col-md-4 col-xl-3 text-center">
        <div class="sponsor-card px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img src="images/boudrant.png" alt="boudrant">
        </div>
      </a>
      <a href="#" class="col-6 col-md-4 col-xl-3 text-center">
        <div class="sponsor-card px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img src="images/boudrant.png" alt="boudrant">
        </div>
      </a> <a href="#" class="col-6 col-md-4 col-xl-3 text-center">
        <div class="sponsor-card px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img src="images/boudrant.png" alt="boudrant">
        </div>
      </a>
      <a href="#" class="col-6 col-md-4 col-xl-3 text-center">
        <div class="sponsor-card px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img src="images/boudrant.png" alt="boudrant">
        </div>
      </a>
      <a href="#" class="col-6 col-md-4 col-xl-3 text-center">
        <div class="sponsor-card px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img src="images/boudrant.png" alt="boudrant">
        </div>
      </a>
      <a href="#" class="col-6 col-md-4 col-xl-3 text-center">
        <div class="sponsor-card px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img src="images/boudrant.png" alt="boudrant">
        </div>
      </a>
      <a href="#" class="col-6 col-md-4 col-xl-3 text-center">
        <div class="sponsor-card px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img src="images/boudrant.png" alt="boudrant">
        </div>
      </a>
      <a href="#" class="col-6 col-md-4 col-xl-3 text-center">
        <div class="sponsor-card px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img src="images/boudrant.png" alt="boudrant">
        </div>
      </a>
    </div>
  </div>
</section>