<section id="team-cards"  class="special_theme event-testimonial pb-7 ">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-4">
              <div class="section-title text-center text-lg-start">
                  <h3 class="h-title">FORUM ENIG</h3>
                  <h4 class="forum-primary-color-2">Chefs de comité et coordinateurs</h4>
                  <div class="selector4" style="display: flex; justify-content: center;">
                      <h2 class="ah-headline mb-0">
                          <span>Equipe FORUM ENIG</span>
                          <span class="ah-words-wrapper white forum-primary-color-2">
                              <b class="is-visible textcap">2023</b>
                              <b>2023</b>
                          </span>
                      </h2>
                  </div>
              </div>
          </div>
      </div>
       <div class="row">
        <div class="all_members">
          <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item">
              <div class="card">
                <div class="memberphoto">
                  <img src="images/Team2023/1.jpeg" alt="" />
                  <div class="item-hover">
                    <ul>
                      <li><a href="">Facebook <i class="fa-brands fa-facebook"></i></a></li>
                      <li><a href="">Linkedin <i class="fa-brands fa-linkedin"></i></a></li>
                      <li><a href="">Gmail <i class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h3 class="fw-bold forum-primary-color-1 mt-2"> Jasser Hachaichi</h3>
                <p class="fw-bold forum-primary-color-2">Coordinateur</p>
              </div>
      
            </div>
            <div class="item">
              <div class="card">
                <div class="memberphoto">
                  <img src="images/Team2023/2.jpg" alt="" />
                  <div class="item-hover">
                    <ul>
                      <li><a href="">Facebook <i class="fa-brands fa-facebook"></i></a></li>
                      <li><a href="">Linkedin <i class="fa-brands fa-linkedin"></i></a></li>
                      <li><a href="">Gmail <i class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h3 class="fw-bold forum-primary-color-1 mt-2">Jasser Hachaichi</h3>
                <p class="fw-bold forum-primary-color-2">Coordinateur</p>
              </div>
      
            </div>
            <div class="item">
              <div class="card">
                <div class="memberphoto">
                  <img src="images/Team2023/13.jpg" alt="" />
                  <div class="item-hover">
                    <ul>
                      <li><a href="">Facebook <i class="fa-brands fa-facebook"></i></a></li>
                      <li><a href="">Linkedin <i class="fa-brands fa-linkedin"></i></a></li>
                      <li><a href="">Gmail <i class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h3 class="fw-bold forum-primary-color-1 mt-2">Jasser Hachaichi</h3>
                <p class="fw-bold forum-primary-color-2">Trésorier</p>
              </div>
      
            </div>
            <div class="item">
              <div class="card">
                <div class="memberphoto">
                  <img src="images/Team2023/10.png" alt="" />
                  <div class="item-hover">
                    <ul>
                      <li><a href="">Facebook <i class="fa-brands fa-facebook"></i></a></li>
                      <li><a href="">Linkedin <i class="fa-brands fa-linkedin"></i></a></li>
                      <li><a href="">Gmail <i class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h3 class="fw-bold forum-primary-color-1 mt-2">Jasser Hachaichi</h3>
                <p class="fw-bold forum-primary-color-2">Sponsoring</p>
              </div>
      
            </div>
            <div class="item">
              <div class="card">
                <div class="memberphoto">
                  <img src="images/Team2023/11.jpg" alt="" />
                  <div class="item-hover">
                    <ul>
                      <li><a href="">Facebook <i class="fa-brands fa-facebook"></i></a></li>
                      <li><a href="">Linkedin <i class="fa-brands fa-linkedin"></i></a></li>
                      <li><a href="">Gmail <i class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h3 class="fw-bold forum-primary-color-1 mt-2">Jasser Hachaichi</h3>
                <p class="fw-bold forum-primary-color-2">Sponsoring</p>
              </div>
      
            </div>
            <div class="item">
              <div class="card">
                <div class="memberphoto">
                  <img src="images/Team2023/3.jpg" alt="" />
                  <div class="item-hover">
                    <ul>
                      <li><a href="">Facebook <i class="fa-brands fa-facebook"></i></a></li>
                      <li><a href="">Linkedin <i class="fa-brands fa-linkedin"></i></a></li>
                      <li><a href="">Gmail <i class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h3 class="fw-bold forum-primary-color-1 mt-2">Jasser Hachaichi</h3>
                <p class="fw-bold forum-primary-color-2">Programme</p>
              </div>
      
            </div>
            <div class="item">
              <div class="card">
                <div class="memberphoto">
                  <img src="images/Team2023/7.jpg" alt="" />
                  <div class="item-hover">
                    <ul>
                      <li><a href="">Facebook <i class="fa-brands fa-facebook"></i></a></li>
                      <li><a href="">Linkedin <i class="fa-brands fa-linkedin"></i></a></li>
                      <li><a href="">Gmail <i class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h3 class="fw-bold forum-primary-color-1 mt-2">Jasser Hachaichi</h3>
                <p class="fw-bold forum-primary-color-2">Programme</p>
              </div>
      
            </div>
            <div class="item">
              <div class="card">
                <div class="memberphoto">
                  <img src="images/Team2023/6.jpg" alt="" />
                  <div class="item-hover">
                    <ul>
                      <li><a href="">Facebook <i class="fa-brands fa-facebook"></i></a></li>
                      <li><a href="">Linkedin <i class="fa-brands fa-linkedin"></i></a></li>
                      <li><a href="">Gmail <i class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h3 class="fw-bold forum-primary-color-1 mt-2">Jasser Hachaichi</h3>
                <p class="fw-bold forum-primary-color-2">Logistique</p>
              </div>
      
            </div>
            <div class="item">
              <div class="card">
                <div class="memberphoto">
                  <img src="images/Team2023/5.jpg" alt="" />
                  <div class="item-hover">
                    <ul>
                      <li><a href="">Facebook <i class="fa-brands fa-facebook"></i></a></li>
                      <li><a href="">Linkedin <i class="fa-brands fa-linkedin"></i></a></li>
                      <li><a href="">Gmail <i class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h3 class="fw-bold forum-primary-color-1 mt-2">Jasser Hachaichi</h3>
                <p class="fw-bold forum-primary-color-2">Logistique</p>
              </div>
      
            </div>
            <div class="item">
              <div class="card">
                <div class="memberphoto">
                  <img src="images/Team2023/4.jpg" alt="" />
                  <div class="item-hover">
                    <ul>
                      <li><a href="">Facebook <i class="fa-brands fa-facebook"></i></a></li>
                      <li><a href="">Linkedin <i class="fa-brands fa-linkedin"></i></a></li>
                      <li><a href="">Gmail <i class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h3 class="fw-bold forum-primary-color-1 mt-2">Jasser Hachaichi</h3>
                <p class="fw-bold forum-primary-color-2">Marketing</p>
              </div>
      
            </div>
            <div class="item">
              <div class="card">
                <div class="memberphoto">
                  <img src="images/Team2023/12.jpg" alt="" />
                  <div class="item-hover">
                    <ul>
                      <li><a href="">Facebook <i class="fa-brands fa-facebook"></i></a></li>
                      <li><a href="">Linkedin <i class="fa-brands fa-linkedin"></i></a></li>
                      <li><a href="">Gmail <i class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h3 class="fw-bold forum-primary-color-1 mt-2">Jasser Hachaichi</h3>
                <p class="fw-bold forum-primary-color-2">Marketing</p>
              </div>
      
            </div>
            <div class="item">
              <div class="card">
                <div class="memberphoto">
                  <img src="images/Team2023/8.jpg" alt="" />
                  <div class="item-hover">
                    <ul>
                      <li><a href="">Facebook <i class="fa-brands fa-facebook"></i></a></li>
                      <li><a href="">Linkedin <i class="fa-brands fa-linkedin"></i></a></li>
                      <li><a href="">Gmail <i class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h3 class="fw-bold forum-primary-color-1 mt-2">Jasser Hachaichi</h3>
                <p class="fw-bold forum-primary-color-2">Media</p>
              </div>
      
            </div>
            <div class="item">
              <div class="card">
                <div class="memberphoto">
                  <img src="images/Team2023/9.jpg" alt="" />
                  <div class="item-hover">
                    <ul>
                      <li><a href="">Facebook <i class="fa-brands fa-facebook"></i></a></li>
                      <li><a href="">Linkedin <i class="fa-brands fa-linkedin"></i></a></li>
                      <li><a href="">Gmail <i class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h3 class="fw-bold forum-primary-color-1 mt-2">Jasser Hachaichi</h3>
                <p class="fw-bold forum-primary-color-2">Media</p>
              </div>
      
            </div>
          </div>
        </div>
       </div>

  </div>
</section>
