<%- include('./../loader') %>
<header class='dashboard-toolbar'>
    <li class="menu-toggle"><i class="fas fa-bars"></i></li>
    <div class="action">
      <div class="profile" onclick="menuToggle();">
        <img src="images/blank-profile.jpg" />
      </div>
      <div class="menu">
        <h3 id="UserName"></h3>
        <ul>
          <li>
            <i class="fas fa-sign-out-alt"></i><a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>


  </header>