<div class="dashboard-nav">
  <header>
    <li class="menu-toggle"><i class="fas fa-bars"></i></li>

    <a href="home" class="dashboardLogo">
      <div><img src="images/forum.svg" alt="" width="40" height="auto"></div>
      <span>FORUM ENIG</span>
    </a>


  </header>
  <div class="col-10 mx-auto border-top"></div>
  <nav class="dashboard-nav-list">

    <a href="dashboard" class="dashboard-nav-item"><i class="fa-solid fa-grid-2"></i>Dashboard</a>
    <div class='dashboard-nav-dropdown'>
      <li class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-users"></i>Utilisateurs</li>
      <div class='dashboard-nav-dropdown-menu'>
        <a href="usersadd" class="dashboard-nav-dropdown-item"><i class="fa-solid fa-circle"></i>Ajouter</a>
        <a href="userslist" class="dashboard-nav-dropdown-item"><i class="fa-solid fa-circle"></i></i>Liste</a>
      </div>
    </div>


    <a href="followerslist" class="dashboard-nav-item"><i class="fa-solid fa-heart"></i>Suiveurs</a>
    
    
    <li class="navList__heading"><span>Components</span></li>
    <a href="programme" class="dashboard-nav-item"><i class="fa-solid fa-calendar-days"></i>Programme</a>


    <div class="nav-item-divider"></div>

  </nav>
</div>